*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: purple;
    color: yellowgreen;
}

main{
    
    border-radius: 20px;
    background-color: white;
    width: 600px;
    margin: 70px auto;
    color: black;
    padding: 30px;
    box-shadow: 20px 20px 30px black;
}

h1{
    padding-bottom: 20px;
    text-align: center;
}
article{
    padding-bottom: 20px;
}

img{
    height: 30px;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    padding: 10px;
}